<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/portalufln?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">mysql</property>
    
    <mapping class="Model.POJO.Pessoa" />
    <mapping class="Model.POJO.Aluno" />
    <mapping class="Model.POJO.Professor" />
    <mapping class="Model.POJO.Turma" />
    <mapping class="Model.POJO.Disciplina" />
    <mapping class="Model.POJO.Atividade" />
    <mapping class="Model.POJO.Falta" />
    <mapping class="Model.POJO.Nota" />
  </session-factory>
</hibernate-configuration>
